*{
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    background-color: tomato;
}

.display{
    font-size: 24px;
}

#btn{
    top: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 60vw;
    font-size: 1.5em;
    padding: .25em;
    color: black;
    background-color: aqua;
    border-radius: 8px;
}
